$trans-speed: 0.2s;

*, *:before, *:after {
    box-sizing: border-box;
}
.disabled {
    pointer-events: none !important;
}

html {
    font-family: 'Input', sans-serif;
    //font-weight: 300;
    //font-style: italic;
    font-size: 13px;
    background: #222;
}

#pickr {
    width: 520px;
    height: 310px;
    position: relative;
    margin: 0 auto;
    display: flex;
    color: #fff;
    //border: 1px solid;
    border-color: #fff;
    background: #222;
    //overflow: hidden;
    &.dark {
        color:#222;
        border-color: #222;
        input[type="range"] {
            background: #222;
            &::-webkit-slider-thumb {
                background: #222;
                border-color: #222;
            }
        }
        .selector {
            background: #222;
            &.active { border-color: #222; }
        }
    }
}

.vertical-center {
    position: absolute;
    top: 0; bottom: 0; right: 0; left: 0;
    display: flex;
    align-items: center;
}

@-webkit-keyframes rotate-test {
    0% {
        transform: rotateZ(0deg);
    }
    100% {
        transform: rotateZ(360deg);
    }
}
@-webkit-keyframes blur-shimmer {
    0% {
        //-webkit-
    }
    100% {

    }
}

/* Color Wheel */

@mixin circle($size) {
    content: "";
    position: absolute;
    border-radius: 50%;
    left: calc(50% - #{$size/2});
    top: calc(50% - #{$size/2});
    width: $size;
    height: $size;
}

$wheel: 310px;
.wheel, .umbrella, .color {
    @include circle($wheel);
}
.wheel {
    width: $wheel;
    height: $wheel;
    position: absolute;
    top: 0; left: 0; bottom: 0;
    display: flex;
    //overflow: hidden;

    .value-overlay {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: radial-gradient(ellipse at center, rgba(255,255,255,1) 10%, rgba(142,142,142,0) 50%, rgba(138,138,138,0.02) 51%, rgba(0,0,0,1) 80%);
    }

    .old-selector {
        display: flex;
        align-items: center;
        background: rgba(0,0,0,0.5);
        border: 2px solid #fff;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        position: absolute;
        top: 9%;
        left: 74%;
        display: none;
        .point {
            margin: 0 auto;
            width: 4px;
            height: 4px;
            border-radius: 50%;
            background: #fff;
            display: none;
        }
    }

    .inner {
        position: absolute;
        left: 40px; top: 40px; bottom: 40px; right: 40px;
        display: flex;
        align-items: center;
        background: #222;
        border-radius: 50%;

        .slsquare {
            position: absolute;
            left: 40px; top: 40px; bottom: 40px; right: 40px;
            background: url('../c2.svg') 50% 50%;
            background-size: cover;
            display: none;
        }

        .old-selector {
            top: 30%;
            left: 50%;
        }

        .properties {
            padding: 0;
            margin: 0 auto;
            list-style: none;
            width: 160px;
            border-color: inherit;

            li {
                margin-bottom: 14px;
                position: relative;
                border-color: inherit;
                &:last-child { margin-bottom: 0; }

                .label {
                    display: block;
                    color: inherit;
                    margin-bottom: 4px;
                    text-align: center;
                    transition: $trans-speed;
                }

                input[type="range"] {
                    -webkit-appearance: none;
                    width: 100%;
                    height: 1px;
                    margin: 0 0 15px 0;
                    padding: 0;
                    background: #fff;
                    transition: $trans-speed;
                    outline: 0;

                    &::-webkit-slider-thumb {
                        position: relative;
                        -webkit-appearance: none;
                        height: 30px;
                        width: 30px;
                        border-radius: 9999px;
                        background: #E6009D;
                        border: 2px solid white;
                        transition: $trans-speed;
                        z-index: 1;
                    }

                    // &.active {
                    //     &::-webkit-slider-thumb {
                    //         border: 2px solid;
                    //         border-color: #fff;
                    //     }
                    // }
                }
            }
        }
    }
    .hue-guide {
        @include circle(280px);
        border: 1px solid;
        border-color: inherit;
        opacity: 0.5;
        transition: $trans-speed;
        position: absolute;
        top: 15px;
        left: 15px;
        //
    }

    .hue-wheel {
        position: absolute;
        top: 0; left: 0;
        width: $wheel;
        height: $wheel;
        transform: rotate(319deg);

        .selector {
            margin: 0 auto;
            top: 0;
            width: 30px;
            height: 30px;
            border-radius: 50%;
            border: 2px solid #fff;
            background: #E6009D;
            //transition: $trans-speed;
            &.active { border-color: #fff; }
        }
    }

    .colors {
        width: $wheel;
        height: $wheel;
        transition: 0.4s;
        transform: scale(1.8);
        //opacity: 0;
        pointer-events: none;
        &.active {
            opacity: 1;
            transform: scale(1.5);
        }
    }
}
.umbrella {
    margin: 0;
    position: relative;
    -webkit-filter: blur(2rem);
    transform: scale(1) rotate(-15deg);
    transition: $trans-speed;
    opacity: 0;
    display: none;
    &.active {
        opacity: 1;
        transform: scale(1.2) rotate(-15deg);
    }
}
.color, .color:nth-child(n+7):after {
    clip: rect(0, $wheel, $wheel, #{$wheel/2});
}
.color:after, .color:nth-child(n+7) {
    @include circle($wheel);
    clip: rect(0, #{$wheel/2}, $wheel, 0);
}

$colors: (hsl(0,100%,50%), hsl(30,100%,50%), hsl(60,100%,50%), hsl(90,100%,50%), hsl(120,100%,50%), hsl(150,100%,50%), hsl(180,100%,50%), hsl(210,100%,50%), hsl(240,100%,50%), hsl(270,100%,50%), hsl(300,100%,50%), hsl(330,100%,50%));
@for $i from 0 to length($colors) {
    .color:nth-child(#{1+$i}):after {
        background-color: nth($colors, $i+1);
        @if $i < 6 {
            transform: rotate(#{30*(1+$i)}deg);
            z-index: #{length($colors)-$i};
        } @else {
            transform: rotate(#{-30+(30*(1+$i))}deg);
        }
    }
}

.results {
    list-style: none;
    margin: 0 0 0 auto;
    padding: 0;
    width: 190px;
    align-self: center;
    z-index: 10;
    -webkit-user-select: text;
    li {
        // &:first-child,
        // &:last-child {
        //     margin-right: 12px;
        //     margin-left: -12px;
        // }
        //border: 1px solid rgba(255,255,255,0.5);
        //border-radius: 9999px;
        background: rgba(0,0,0,0.5);
        //border: 1px solid #fff;
        padding: 12px 16px;
        color: inherit;
        border-color: inherit;
        transition: 0.35s;
        text-align: right;
        margin-bottom: 8px;
    }
    .label {
        float: left;
        font-weight: bold;
        -webkit-user-select: none;
    }
}

.scheme {
    //display: none;
    position: absolute;
    bottom: 0; left: 15px; right: 15px;
    height: 80px;
    color: #fff;
    display: none;
    .swatches {
        list-style: none;
        padding: 0;
        margin: 0;
        height: inherit;
        li {
            //border: 1px solid rgba(255,255,255,0.5);
            background: rgba(0,0,0,0.5);
            height: 70%;
            width: 87.2px;
            margin-right: 8px;
            float: left;
            display: flex;
            &:nth-child(3) {
                background: darken(rgba(255,170,0,1), 20%);
            }
            &:last-child {
                margin-right: 0;
            }
        }
        span {
            width: 100%;
            display: block;
            align-self: center;
            text-align: center;
        }
    }
    .caret {
        position: absolute;
        left: 220px; bottom: 0;
        width: 0;
        height: 0;
        border-left: 15px solid transparent;
        border-right: 15px solid transparent;

        border-bottom: 15px solid #fff;
    }
}
