.container {
  background-color: transparent;
  border: 1px solid var(--button-color);
  color: var(--button-color);
  padding: 0.5rem 0.75rem;
  border-radius: 999px;
  cursor: pointer;
  font-size: 1em;
  cursor: pointer;

  transition: background-color 200ms;
}

.container:hover {
  background-color: var(--button-hover-bg-color);
}

.select {
  appearance: none;
  background-color: transparent;
  outline: none;
  border: none;
}

.label {
  font-weight: bold;
  font-size: 0.8em;
  margin-right: 6px;
}
